<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
    <h3>文件上传：</h3>
      选择一个文件上传: <br />
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image"/>
        <br />
        <input type="submit" value="上传文件" />
      </form>
    </p>
  </body>
</html>
